@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

header, .boxes {
    height: 60vh;
    padding: 30px;
}

#content {
    margin-left: 8.33%;
    color: black;
}

header {
    background-image: url("images/pinkflowers.jpg");
    text-align: center;
    color: white;
    height: 75vh;
}

header > h1 {
    padding-top: 20vh;
}

#sidebar {
    display: block;
    height: 100vh;
    width: 8.33%;
    position: fixed;
    background: #f7d709;
}

nav {
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 20vh;
    line-height: 1.7em;
    text-align: right;
    left: -20px;
}

nav li {
    list-style: none;
}

/* unvisited link */
nav a:link {
    color: white;
    text-decoration: none;
}

/*visited link */
nav a:visited {
    color: white;
    text-decoration: none;
}

#paragraphsection{
    background: linear-gradient(to bottom, white 20%, rgb(71, 11, 44) 100%);
}

#paragraphsection p {
    font-size: 20px;
}

#paragraphsection p::first-line {
    font-style: italic;
}

#paragraphsection p::first-letter {
    font-size: 25px;
}


h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
}

h3::before {
    content: ">> ";
}

#imagesection {
    background-color: rgb(71, 11, 44);
    text-align: center;
    height: 75vh;
}

img {
    width: 30%;
    display: -flex;
    margin: 10px;
    border: 2px solid rgb(71, 11, 44);
}

img:hover {
    border: 2px solid white;
    
}

#quote {
    font-family: 'Lobster', serif;
    font-style: italic;
    font-size: 40px;
    color: white;
} 

#quote:hover {
    color: #f7d709;
}

#cicero {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-size: 30px;
}

#tablesection {
    background-color: #b39c94;
}

#tablesection > h2 {
    color: #447a97;
}

td {
    background-color:hsl(201, 38%, 43%);
    padding: 10px;
}

td:hover {
    background-color: hsla(201, 38%, 43%, 0.4);
}

td.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

#end-of-page{
    background-image: url("images/branches.jpg");
    background-position: center;
    background-size: 100%;
}

#listsection{
    color: white;
}

#listsection li {
    list-style-type: upper-roman;
}

#listsection ul>li {
    list-style-type: lower-roman;
}

footer {
    font-size: 10pt;
    text-align: center;
    color: #5a463f;
    height: 20vh;
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

footer p:first-of-type {
    padding-top: 80px;
}

#horizontal-line {
    width: 300px;
}

footer p:nth-child(3) {
    font-variant: small-caps;
}


