@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

body {
    padding: 0px;
    margin: 0px;
}

header {
    border: 1px dashed blue;
    height: 75vh;
    background-image: url("images/pinkflowers.jpg");
    text-align: center;
    color: white;
}

header > h1 {
    padding-top: 20vh;
}

nav {
    display: block;
    height: 100vh;
    width: 8.33%;
    position: fixed;
    background: #f7d709;
    border: 1px dashed red;
}

footer {
    font-size: 10pt;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
}

#content {
    margin-left: 8.33%;
    color: black;
    border: 1px solid green;

}



.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


